@mixin app-link {
  display: inline-flex;
  align-items: center;
  justify-content: left;
  color: $white-font;
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
  transition: all 0.3s ease;
  border: 3px solid $white-font;
  font-size: 28px;
  margin: 0 12px;
  &:hover {
    background-color: darken(#fff, 5%);
    color: $red-base-color;
  }
  i {
    margin-right: 10px;
    font-size:44px;
  }
  @media (max-width: 1200px) {
    font-size: 24px;
    padding: 8px 16px;
    i {
      font-size: 40px;
    }
  }

  @media (max-width: 992px) {
    font-size: 20px;
    padding: 6px 12px;
    i {
      font-size: 36px;
    }
  }

  @media (max-width: 768px) {
    font-size: 18px;
    padding: 4px 8px;
    i {
      font-size: 32px;
    }
  }

  @media (max-width: 576px) {
    font-size: 14px;
    padding: 2px 4px;
    border: 1px solid $white-font;
    i {
      font-size: 14px;
    }
  }
}

@mixin slick-dots-li-styles {
  li {
    font-size: 10px;
    margin: 0;
    button {
      background: transparent;
      height: 1px;
      width: 1px;
      border: 1px solid $white-font;
      border-radius: 50%;

      &::before {
        color: transparent;
      }

      &:hover {
        background-color: $white-font;
      }
    }

    &.slick-active {
      button {
        background: $white-font;
        border-color: $white-font;
      }
    }
  }
}
@mixin title-styles{
  font-size: 40px;
  font-weight: bold;
  letter-spacing: 3px;
  @media (max-width: 768px) {
    font-size: 34px;
  }
  @media (max-width: 576px) {
    font-size: 24px;
  }
}