$red-base-color: #df5d5d;
$font-why-ama: #f06562;
$white-font: white;
$red-color: red;
$background-color-share-instantly: #262626;
$primary-color-black: black;
$background-color-compatibility: #e7e7e7;
$font-family: 'Varela Round', sans-serif;
$font-color: #797979;
$background-color-new-features: #313131;
$grey-font:  #adadad;
