$red-base-color: #df5d5d;
$white-font: white;
$red-color: red;
$background-color-share-instantly: #262626;
$primary-color-black: black;
$background-color-compatibility: #e7e7e7;
$font-family: 'Varela Round', sans-serif;
$font-color: #6c757d;
$background-color-new-features: #313131;
