.compatibility{
  background-color: #e7e7e7;
  padding: 80px 0;
  h2{
    font-weight: 600;
    font-size: 20px;
    color: #6c757d;
    margin: 0;
  }
}
.compatibility-information{
  padding: 0 15px;
}
.compatibility-block{
  h4{
    font-weight: 600;
    color: #6c757d;
    margin-bottom: 0;
  }
  p{
    color: #6c757d;
  }
  img{
    padding: 30px 0;
  }
}
@media screen and (max-width: 992px) {
.compatibility{
  padding-left: 20px;
  padding-right: 20px;
}
}
@media screen and (max-width: 420px) {
  .compatibility-img-android{
    width: 280px;
  }
}
