.cta {
  z-index: 1000;
  padding: 200px 0;
  background-color: $primary-color;
  color: #fff;
  overflow: hidden;
  .app-image {
    img {
      max-width: 100%;
      height: auto;
    }
  }
}
.app-content{
  padding-left: 40px;
  position: relative;
}
.app-image {
  padding-left: 100px;
  position: relative; // Додано для позиціонування псевдоелемента

  &:after {
    content: "";
    position: absolute;
    top: 60px;
    left: 180px;
    width: calc(80%);
    height: calc(120%);
    z-index: -1;
    transform: rotate(40deg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent); /* Змінено напрямок градієнту */

  }

  img {
    border-radius: 50px;
    width: 235px;
    height: auto;
  }
}

.app-links {
  display: flex;
  justify-content: left;
  align-items: center;
  .app-link {
    @include app-link;
  }
}
.cta-title-text {
  width: 350px;
  margin: 0;
}
.cta-title-text{
  padding-left: 16px;
}
.cta-subtitle{
  padding-left: 16px;
}
@media screen and (max-width: 992px) {
  .app-content{
    text-align: center;
    padding: 0;
  }
  .cta {
    padding: 60px 20px;
    .cta-image{
      justify-content: center;
    }
    .app-image {
      padding: 0 0 20px 0;
      text-align: center;
      &:after{
        top: 40px;
        left: 100px;
        width: calc(80%);
        height: calc(110%);
      }
      img{
        margin: 0 auto;

      }
    }
  }
  .cta-title-text{
    display: inline;
  }
  .app-links{
    justify-content: center;
  }
}