.cta {
  z-index: 1000;
  padding: 160px 0;
  background-color: $red-base-color;
  color: $white-font;
  overflow: hidden;

  .app-image {
    img {
      max-width: 220px;
      height: auto;
      padding: 10px 10px 0 0;
    }
  }
}

.app-content {
  padding-left: 20px;
  position: relative;
}

.app-image {
  padding-left: 120px;
  position: relative;

  &:after {
    content: "";
    position: absolute;
    top: 70px;
    left: 180px;
    width: calc(80%);
    height: calc(110%);
    z-index: -1;
    transform: rotate(40deg);
    background: linear-gradient(to right, rgba(0, 0, 0, 0.1), transparent);
  }

  img {
    border-radius: 50px;
    width: 235px;
    height: auto;
  }
}

.app-links {
  display: flex;
  justify-content: left;
  align-items: center;

  .app-link {
    @include app-link;
  }
}

.cta-title-text {
  width: 400px;
  margin: 0;
  @include title-styles;
  padding-left: 16px;
}

.cta-subtitle {
  padding-left: 16px;
  font-size: 20px;
  letter-spacing: 1px;
}

@media screen and (max-width: 992px) {
  .app-content {
    text-align: center;
    padding: 0;
  }

  .cta {
    padding: 40px 20px;

    .cta-image {
      justify-content: center;
    }

    .app-image {
      padding: 0 0 20px 0;
      text-align: center;

      &:after {
        top: 30px;
        left: 100px;
        width: calc(50%);
        height: calc(105%);
      }

      img {
        margin: 0 auto;
      }
    }
  }

  .cta-title-text {
    display: inline;
  }

  .app-links {
    justify-content: center;
  }
}