 li {
    button {
      background: transparent;
      height: 2px;
      border: 2px solid white;
      width: 2px;
      border-radius: 50%;
      &::before {
        color: transparent;
      }
      &:hover {
        background-color: white;
      }
    }
  }

  .slick-active {
    button {
      background: white;
      border-color: white;
    }
  }