.new-features {
  background-color: $background-color;
}
.phone-container{
  display: flex;
  justify-content: end;
}
.new-features-content {
  padding: 50px 70px 0 100px;
  width: 400px;
  h2 {
    color: $primary-color-2;
    padding-top: 60px;
  }
  p {
    color: $font-color;
  }
  .features-slider {
    h3 {
      color: $primary-color;
    }
    p {
      color: $font-color;
      font-size: 14px;
    }
  }
}
.phone-wrap-2 {
  display: inline-block;
  overflow: hidden;
  max-width: 600px;
  img{
    margin: 0 auto;
  }
}
.features-slider {
  background-color: $primary-color-2;
  border-radius: 5px 5px 0 0;

  .features-slide {
    img {
      width: 100px;
      height: 100px;
      margin: auto 0;
    }
    div {
      padding-left: 20px;
    }
  }

  .slick-dots {

    background-color: $primary-color;
    border-radius: 0 0 5px 5px;
    text-align: left;
    padding-left: 20px;
    @include slick-dots-li-styles;
  }
}

.features-slide {
  padding: 20px;
}
@media screen and (max-width: 992px) {
.new-features-content{
  text-align: center;
  padding: 0 10px;
  h2{
    padding: 0;
  }
}
  .phone-container{
    justify-content: center;
  }
}