.new-features {
  background-color: $background-color;
}
.phone-container{
  display: flex;
  justify-content: end;
}
.features-slider-background{
  padding-top: 20px;
  p{
    font-size: 18px;
    letter-spacing: 0.5px;
  }
}
.new-features-content {
  padding: 100px 30px 0 120px;

  h2 {
    @include title-styles;
    color: $primary-color-2;
  }
  p {
    color: $font-color;
  }
  .features-slider {
    h3 {
      color: $primary-color;
    }
    p {
      color: $font-color;
      font-size: 14px;
    }
  }
}
.phone-wrap-2 {
  display: inline-block;
  overflow: hidden;
  max-width: 440px;
  img{
    margin: 0 auto;
    padding-right: 40px;
  }
}
.features-slider {
  background-color: $primary-color-2;
  border-radius: 5px 5px 0 0;

  .features-slide {
    img {
      width: 80px;
      height: 80px;
      margin: auto 0;
    }
    div {
      padding-left: 20px;
    }
  }
  .slick-dots {
    background-color: $primary-color;
    border-radius: 0 0 5px 5px;
    text-align: left;
    padding: 5px 0 5px 30px;

    @include slick-dots-li-styles;
  }
}
.features-slide {
  padding: 30px 40px 40px 30px;
}
@media screen and (max-width: 992px) {
.new-features-content{
  text-align: center;
  padding: 0 10px;
  h2{
    padding: 0;
  }
}
  .phone-wrap-2 {
    img {
      padding: 0;
    }
  }
  .phone-container{
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  .features-slide {
    padding: 10px 10px 30px 10px;
  }
}