
.share-instantly {
  background-color: #262626;
}

.share-instantly-phone {
  align-items: flex-end;
  img{
    width: 450px;
  }
}

.share-content-title {
  color: $primary-color-2;
  @include title-styles;
}

.share-instantly-content {
  p {
    color: $font-color;
    padding: 0;
  }
  .share-description {
    font-size: 15px;
    padding-left: 40px;
  }
}

.video-player {
  width: 100%;
  max-width: 160px;
  height: 80px;
  background-color: $primary-color;
  border-radius: 5px;
  position: relative;
}

.share-content-slider {
  display: flex;
  align-items: center;
  .slick-dots {
    display: flex;
    align-items: center;
    margin-left: 0;
    @include slick-dots-li-styles;
  }
}

.video {
  padding: 0;
  margin: auto 0;
}

.play-button {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 25px solid $primary-color-2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media screen and (max-width: 992px) {
  .share-instantly-content {
    .share-description {
      padding: 20px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .share-instantly-phone {
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
  }
  .share-instantly-content {
    text-align: center;
    .share-content-slider {
      .slick-dots {
        justify-content: center;
        padding-bottom: 10px;
      }
    }
  }
  .video-player {
    margin: 0 auto;
  }
}
