.features {
  background-color: #313131;
}

.features-content {
  padding-left: 170px;
  h2 {
    color: white;
  }
  p {
    color: #969696;
  }
  .features-slider {
    h3 {
      color: $primary-color;
    }
    p {
      color: #969696;
      font-size: 14px;
    }
  }
}

.features-slider {
  background-color: white;
  border-radius: 5px 5px 0 0;

  .features-slide {
    img {
      width: 80px;
      height: 80px;
    }
    div {
      padding-left: 20px;
    }
  }

  .slick-dots {
    background-color: $primary-color;
    border-radius: 0 0 5px 5px;
    text-align: left;
    li {
      button {
        background: transparent;
        height: 2px;
        border: 2px solid white;
        width: 2px;
        border-radius: 50%;
        margin: 0;
        &::before {
          color: transparent;
        }
        &:hover {
          background-color: white;
        }
      }
    }
    .slick-active {
      button {
        background: white;
        border-color: white;
      }
    }
  }
}

.phone-wrap{
  display: flex;
  justify-content: center;
}

.features-slide {
  padding: 20px;
}

.share {
  background-color: #262626;
}

.phone-wrap {
  display: inline-block;
  overflow: hidden;
  max-height: 530px;
  max-width: 600px;
}

.share-title {
  color: white;
}

.share-content {
  .share-description {
    font-size: 15px;
    padding-left: 40px;
  }
}

.video-player {
  width: 100%;
  max-width: 135px;
  height: 80px;
  background-color: $primary-color;
  border-radius: 5px;
  position: relative;
}

.share-content-slider {
  display: flex;
  align-items: center;
  .slick-dots {
    display: flex;
    align-items: center;
    margin-left: 0;
    li {
      button {
        background: transparent;
        height: 2px;
        border: 2px solid white;
        width: 2px;
        border-radius: 50%;
        margin: 0;
        &::before {
          color: transparent;
        }
        &:hover {
          background-color: white;
        }
      }
    }
    .slick-active {
      button {
        background: white;
        border-color: white;
      }
    }
  }
}

.video {
  padding: 0;
  margin: auto 0;
}

.play-button {
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-bottom: 20px solid transparent;
  border-left: 30px solid white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.share-content {
  p {
    color: white;
    padding: 0;
  }
}

@media screen and (max-width: 992px) {
  .share-content {
    .share-description {
      padding: 20px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  .phone-wrap {
    max-height: 100%;
  }
  .share-content {
    text-align: center;
    .share-content-slider {
      .slick-dots {
        justify-content: center;
        padding-bottom: 10px;
      }
    }
  }
  .video-player {
    margin: 0 auto;
  }
}
