footer {
  padding: 40px 0;

  .footer-text-block {
    p {
      color: $font-color;
      font-weight: 400;
      font-size: 17px;
      padding: 20px;
    }
  }

  .form-inline {
    .form-title {
      color: $font-color;
    }

    .form-control {
      border-color: #ced4da;
      padding: 12px 18px;
      font-size: 16px;
      line-height: 1.5;
      width: 280px;
      height: 44px;

      &:focus {
        border-color: $red-base-color;
        box-shadow: 0 0 0 2px rgba(229, 57, 53, 0.25);
      }
    }

    .btn {
      background-color: $red-base-color;
      border-color: $red-base-color;
      color: $white-font;
      font-weight: 400;
      padding: 10px 18px;
      font-size: 15px;
      line-height: 1.5;

      @media screen and (max-width: 576px) {
        margin: 10px auto;

        &:hover {
          background-color: $red-color;
          border-color: $red-color;
        }
      }
    }
  }
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 4px;
  font-size: 14px;
  color: $red-base-color;
  font-style: italic;
}
.navbar-brand {
  padding-left: 20px;
  font-size: 52px;

  &:hover {
    color: $white-font;
  }
}

@media screen and (max-width: 998px) {
  .footer-text-block {
    text-align: center;
    p {
      padding: 10px 0 !important;
    }
  }

  .form-inline {
    div{
      margin: 0 auto;
    };

    .form-control {
      width: 250px;
    }
  }

  .form-title {
    text-align: center;
  }
}